<html>
<head>
  <title>M-OAuth2.0 Authentication</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
    $(document).ready(function(){
      $("#btn").click(function(){
        $("#btn").prop("disabled",true);
        $.ajax({url: "<%= domain %>/auth",dataType: 'text',
          type: 'post',
          contentType: 'application/x-www-form-urlencoded',
          data:{userId: $("#userId").val(),password: $("#pwd").val()},
          success:function(data,status,xhr){
            var token = JSON.parse(data).token;
            $('#myForm').append("<input type='hidden' name='clientId' value='"+
              "<%= clientId %>"+"' />")
            $('#myForm').append("<input type='hidden' name='redirectURI' value='"+
              "<%= redirectURI %>"+"' />")
            $('#myForm').append("<input type='hidden' name='token' value='"+
              token+"' />")
            $('#myForm').submit();
        },
          error:function(error,data){
              $("#err").html("username or password incorrect");
            $("#btn").prop("disabled",false);
          }
        });
      });
    });
  </script>
</head>
<body>
<div class="container">
<h2>Resource Owner Authentication</h2>
<form action="<%= domain %>/user/permission" method="post" id="myForm">
  <div class="form-group">
    <label for="userId">UserId</label>
    <input type="text" class="form-control" id="userId" placeholder="Enter UserId" name="userId">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
  </div>
  <p id="err"></p>
  <button type="button" class="btn btn-default" id="btn">Submit</button>
</form>
</div>
</body>
<html>
